.container {
    max-width: 500px;
    margin-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
}
.checkbox-group {
    margin-bottom: 15px;
}
.btn-confirm {
    background-color: #106f50;
    border: none;
}
.btn {
    color: white;
    /* width: 100px; */
    width: 100%;
    height: 100%;
}
.btn-confirm:hover {
    background-color: #218838;
}
.form-control[readonly] {
    background-color: #e9ecef;
}
.navbar-brand img {
    max-height: 45px; /* Increase the max-height to make the logo larger */
}
.navbar {
    margin-bottom: 0;
    padding: 10px;
    box-shadow: 0 4px 2px -2px rgb(214, 212, 212);
}
.security_logo{
    font-size: 15px;
    color: grey;
}

.form_container{
    flex-direction: column;
    display: flex;
    row-gap: 300px;
}
.btn_container {
    height: 30px;
    width: 500px;
}

.form_container_v2 {
    /* margin: 10px; */
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.permanent_address_label {
    padding-left: 0px;
}

.digi_instruction {
    padding-left: 1px;
}

.header_dialogue {
    /* margin: 1px; */
    color: #106f50;
}

.content_container {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
}

.digi_container {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    padding: 2px;
}

.digi_icon {
    height: 30px;
    width: 40px;
}

.card_and_button {
    display: flex;
    flex-direction: column;
    row-gap: 180px;
}

.mt-4 {
    color: #198754;
}

.form-check-input {
    appearance: none; /* Remove default appearance */
    -webkit-appearance: none; /* For Safari */
    -moz-appearance: none; /* For Firefox */
    width: 20px; /* Size of the checkbox */
    height: 20px;
    border: 2px solid #4CAF50; /* Green border color */
    border-radius: 3px; /* Rounded corners */
    outline: none; /* Remove outline */
    cursor: pointer; /* Cursor on hover */
    position: relative;
  }
  
  /* Green background when checked */
  .form-check-input:checked {
    background-color: #4CAF50; /* Green background color */
  }
  
  /* Optional: Style the label text */
  .form-check-label {
    margin-left: 8px; /* Space between checkbox and label */
  }

.back_link {
    padding: 15px;
    color: black;
}


.capture_image_container {
    height: 100%;
    margin-left: 10px;
    margin-right: 10px;
    background-color:rgb(230, 226, 226);
}

.instruction_container {
    margin: 10px;
    height: 45px;
    display: flex;
    column-gap: 10px;
    /* background-color: grey; */
}

.instruction_logo {
    width: 10%;
    /* background-color: red; */
}

.instruction_content {
    width: 90%;
    /* background-color: blue; */
}

.image {
    height: 75%;
    width: 100%;
}

.capture_button {
    padding-top: 150px;
    margin: 10px;
}

.detail_filler {
    margin: 10px;
    margin-left: 10px;
}

.profile-pic {
    height: 100px;
    width: 100px;
}
  
.card {
    border-radius: 15px;
}

.pan_and_name_container {
    display: flex;
    flex-direction: column;
    column-gap: 30px;
    font-size: 18px;
}

.select_bar {
    margin: 5px;
    width: 95%;
    height: 10%;
}


.dropdown_container {
    margin: 10px;
    padding-left: 8px;
    padding-right: 8px;
}

.digi_button {
    padding: 8px;
}

.dropdown_title {
    padding-bottom: 5px;
}

.display_address_container {
    margin: 5px;
    /* padding-top: 5px; */
    padding-bottom: 15px;
}

.pincode_container {
    margin: 10px;
}

.file_upload_field {
    margin: 10px;
    /* background-color: rgb(226, 223, 223); */
    height: 90px;
    border: 2px dotted rgb(177, 176, 176) ;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}

.input_style {
    background-color:rgb(226, 223, 223) ;
    border-radius: 0px;
}

.reset_button {
    padding-top: 10px;
    margin: 10px;
}

.fixed_div {
    margin: 10px;
    /* height: 10px */
}

.continue_button {
    margin: 10px;
}

.loader-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Make sure it appears on top of everything */
}

.spinner-border {
    width: 3rem;
    height: 3rem;
}


.shutter {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 2; /* Make sure it appears on top of the video */
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.hidden {
    opacity: 0;
}

.grey_detail_section {
    
    background-color:rgb(230, 226, 226);
    width: 100%;
    height: 350px;
    padding-top: 15px;

}

.details-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.detail_filler {
    flex: 1;
    overflow-y: auto;
    
    /* padding: 20px; Optional, adjust as needed */
}

.pan_name_img_continer_combo {
    display: flex;
    justify-content: space-between;
}

.combo_container {
    display: flex;
    column-gap: 100px;
}

.fixed_div {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white; /* Ensure the background color matches your page */
    padding: 20px;
    margin: 0px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); /* Optional, for a small shadow effect */
}

.other_details {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    row-gap: 35px;
    padding-top: 5px;
    padding-left: 5px;
    font-size: 18px;
}
.checkbox_container {
    padding-top: 80px;
}

.fixed-width-btn {
    width: 100px; /* Set a fixed width for the button */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .spinner-border {
    width: 1rem;
    height: 1rem;
  }

  .form-check-input[readonly] {
    pointer-events: none;
    opacity: 1;
  }

.upload_icon {
    height: 50px;
    width: 50px;
}

.upload_text_class {
    font-size: 10px;
    color: rgb(132,132,132);
}

.delete_icon_container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    /* background-color: green; */
}
.delete_icon {
    height: 18px;
    width: 18px;
    margin-left: 5px;
}


.address_block {
    margin-top: 20px;
}

.other_details_header {
    font-size: 12px;
}

.title_texts {
    font-size: 15px;
}

.confirmation_container {
    padding-top: 15px;
    padding-bottom: 15px;
}


.input_wrapper {
    position: relative;
}

.input_wrapper input {
    width: 100%;
    padding-right: 30px; /* Add some padding to the right to make space for the icon */
}

.edit_icon {
    height: 20px;
    width: 20px;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.error_message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

.details_edit_icon {
    margin-left: 20px;
    height: 20px;
    width: 15px;
}

.option_dropdown_container {
    padding: 15px;
    height: 200px;
    width: 100%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    /* background-color: yellow; */
}

.button_plus_options_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 30px;
}

.option_container {
    display: flex;
    justify-content: space-between;
}


.gender_option {
    height: 35px;
    border-radius: 5px;
    width: 30%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gender_option:hover {
    background-color: #d8fbef;
    border-color: green;
    border: 3px solid green;
    color: green;
}


.option_container_marital_status {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.dropdown_header_marital {
    color: #106f50;
}

.modal_parent {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    z-index: 1000;
}

.liveliness_instruction {
    margin-left: 10px;
}